<h1>Edit the product</h1>

<%= form_tag("/products/#{@product.id}", :method => :patch) do %>

<div id="form_div">

  <div class="inner_div">
    <%= label_tag :image %>
    <%= text_field_tag :image, @product.image %>
  </div>
  <div class="inner_div">  
    <%= label_tag :title %>
    <%= text_field_tag :title, @product.title %>
  </div>    
  <div class="inner_div">  
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>    
  <div class="inner_div">  
    <%= label_tag :brand %>
    <%= text_field_tag :brand, @product.brand %>
  </div>    
  <div class="inner_div">
    <%= label_tag :category %>
    <%= text_field_tag :category, @product.category %>
  </div>    
  <div class="inner_div">
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>
</div>

<div>  
<%= submit_tag "Update Product", :class => "add_product_button" %>
</div>

<% end %>